
<div class="containers">

  <div class="search-patient">
    <input type="search" name="" id="" title="search" placeholder="Search patient by admission number">
  </div>
  <table class="patient-table">
    <thead class="table-header">
      <tr >
        <th>Treatment</th>
        <th>Drug</th>
        <th>Doctor</th>
        <th>Bill</th>
        <th>Date</th>
        <th>Paid</th>
      </tr>
    </thead>

    <tbody
     *ngFor="let item of collection | paginate: { itemsPerPage: 5, currentPage: p }"
     >
      <tr>
        <td>Malaria</td>
        <td>Chloroquine</td>
        <td>Dr. Jane</td>
        <td>N20,000</td>
        <td>23-2-2023</td>
        <td>Pending</td>
        <!-- <button type="button" (click)="showAddPatient()" >Add</button> -->
      </tr>

    </tbody>

  </table>
  <pagination-controls (pageChange)="p = $event" class="pagination-control"></pagination-controls>

<!-- <div class="form-container" *ngIf="close">
  <div class="add-patient-component" *ngIf="close">
    <div class="add-patient-header">
      <h2>Administered Treatment</h2>
      <button type="button" class="close-add-patient" (click)="showAddPatient()">X</button>
    </div>

    <div class="form">
      <form>
        <div>
          <label for="name">Name of treatment</label>
          <input title="name" type="text" name="" id="">
        </div>
        <div>
          <label for="name">Drug administered</label>
          <input title="name" type="text" name="" id="">
        </div>
        <div>
          <label for="name">Doctor's name</label>
          <input title="name" type="text" name="" id="">
        </div>
        <div>
          <label for="name">Describe treatment</label>
        </div>
        <div>
          <textarea title="address" name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div>
          <label for="name">Status</label>

          <input title="name" type="text" name="" id="">
        </div>
        <div>
          <label for="name">Bill</label>
          <input title="name" type="text" name="" id="">
        </div>
        <div>
          <label for="name">Date</label>
          <input title="name" type="date" name="" id="">
        </div>
          <button type="button" class="submit" title="close">Submit</button>
      </form>
    </div>
  </div>

</div> -->

</div>




