<div class="container">
  <h3>Add New User</h3>
  <label for="name">Name</label>
  <input type="text" name="" id="" title="name">
  <label for="email">Email</label>
  <input type="email" name="" id="" title="email">
  <label for="passwod">Password</label>
  <input type="password" name="" id="" title="name">

  <label for="role">Role</label>
  <select name="select" id="" title="select">
    <option value="">Admin</option>
    <option value="">Reception</option>
    <option value="">Doctor</option>
    <option value="">Patient</option>
  </select>
  <button class="submit">Submit</button>
</div>
