<div class="container">
  <span *ngIf="responseMessage">{{responseMessage}}</span>
  <form action="" class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h3>Add New User</h3>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" title="name" formControlName="name" />
      <label for="email">Email</label>
      <input type="email" name="email" id="email" title="email" formControlName="email" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" title="password" formControlName="password" />

      <label for="role">Role</label>
      <select  name="select" id="select" title="select" (change)="selectRole($event)">
        <option value="admin">Admin</option>
        <option value="reception">Reception</option>
        <option value="doctor">Doctor</option>
        <option value="doctor">Patient</option>
        <option value="finance">Finance</option>
        <option value="labtechnician">Lab technician</option>
        <option value="nurse">Nurse</option>
      </select>
      <button  class="submit">Submit</button>

  </form>
</div>
