<span>{{response}}</span>
<div class="container" *ngIf="users$ | async as users">
  <div *ngIf="users.length">
    <div>
      <div class="search">
        <input type="search" name="" id="" placeholder="Search user by id no" />
      </div>
      <table>
        <thead class="users-header">
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Delete</th>
        </thead>
        <tbody *ngFor="let item of users | paginate : { itemsPerPage: 5, currentPage: p }">
          <tr class="users-body">
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.role }}</td>
            <button (click)="setOpenModal(item.id)">Delete</button>
          </tr>
        </tbody>
      </table>

      <pagination-controls
        (pageChange)="p = $event"
        class="pagination-control"
      ></pagination-controls>
      <div>
        <div class="confirm-delete" *ngIf="openModal">
          <div class="delete-item">
            <div class="confirm">
              <h4>Are you sure you want to delete this user?</h4>
              <div class="buttons">
                <!-- <button class="close" (click)="setOpenModal()">Close</button> -->
                <button class="delete-btn" (click)="assignId(ids)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
