
<div class="containers" *ngIf="appointments$ | async as appointments">
<div *ngIf="appointments.length">
  <div class="search-patient" >
    <input type="search" name="" id="" title="search" placeholder="Search patient by admission number">
  </div>
  <table class="patient-table">
    <tr>
      <th>Patient's name</th>
      <th>Patient's email</th>
      <th>Date</th>
    </tr>
    <tbody *ngFor="let appointment of appointments">
      <tr>
        <td>{{appointment.patient_name}}</td>
        <td>{{appointment.patient_email}}</td>
        <td>{{appointment.date}}</td>
      </tr>

    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" class="pagination-control"></pagination-controls>
</div>
</div>




