
<div class="containers">

  <div class="search-patient">
    <input type="search" name="" id="" title="search" placeholder="Search patient by admission number">
  </div>
  <table class="patient-table">
    <tr>
      <th>Patient's name</th>
      <th>Patient's email</th>
      <th>Date</th>
    </tr>
    <tbody>
      <tr>
        <td>John doe</td>
        <td>Johndoe@gmail.com</td>
        <td>23-03-223</td>
      </tr>
      <tr>
        <td>John doe</td>
        <td>Johndoe@gmail.com</td>
        <td>23-03-223</td>
      </tr>
      <tr>
        <td>John doe</td>
        <td>Johndoe@gmail.com</td>
        <td>23-03-223</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" class="pagination-control"></pagination-controls>

</div>




