.container {
  background-color: #ebedf9;
  height: 100vh;
}
.nav{
  padding:100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon{
  font-size: 30px;
}
.name{
  font-size: 17px;
  font-weight: 900;
}
.nav div {
  margin:20px;
  font-weight: bold;
  cursor: pointer;
}

.icons{
  font-size: 20px;
  margin: 10px;
}
.bills {
  position:relative;
left: -7px;
}
.icon-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
