<div class="container">
  <div class="nav">
    <fa-icon [icon]="faUser" class="icon"></fa-icon>
    <h3 class="name">Welcome Jane</h3>
      <div class="icon-links">
        <fa-icon [icon]="pending" class="icons"></fa-icon>
        <span> Pending Bills</span>
      </div>
      <div class="icon-links">
        <fa-icon [icon]="faReceipt" class="icons"></fa-icon>
        <span>Statements</span>
      </div>
      <div class="icon-links">
        <fa-icon [icon]="faBill" class="icons bills"></fa-icon>
        <span>Paid Bills</span>
      </div>
      <div class="icon-links">
        <fa-icon [icon]="logout" class="icons logout"></fa-icon>
        <span>Logout</span>
      </div>

  </div>
</div>
