<div class="container">
  <div class="profile">
    <div class="hamber-icon">
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
    <img class="profile-picx" src="../../../assets/attractive-gc0b6bc35c_1920-removebg-preview.png" alt="">
    <span class="name">Name: Kingsley Onyebuchi</span>
    <span class="status">Status: Good</span>
    <span class="feature">Feature</span>
    <!-- <div class="btn-icons"> -->
      <div class="fahome" routerLink="/patient">
        <fa-icon class="icon" [icon]="faHome"></fa-icon>
        <button class="home-btn" type="button">Home</button>
      </div>
      <div class="fahome" routerLink="/patient/appointment">
        <fa-icon class=  "icon" [icon]="faDoctor"></fa-icon>
        <button type="button" class="book-appointment">Book Appointment</button>
      </div>
      <div class="fahome">
        <fa-icon class="icon" [icon]="faHospital"></fa-icon>
        <button type="button" class="drugs">Buy drugs</button>
      </div>
      <div class="btnlogout">
        <fa-icon class="icon" [icon]="faLogout"></fa-icon>
        <button type="button" class="logout">Logout</button>
      </div>
    <!-- </div> -->
  </div>
</div>
