<div class="container">
  <div class="charts">
    <div class="pie"  [chart]="donutCharts">

    </div>

    <div class="line" [chart]="linechart">

    </div>
  </div>
  <div class="requests">
    <div class="newuser">
      <h2>New users</h2>
      <ul>
        <li>John Doe</li>
        <li>Denis Mark</li>
        <li>Abe Ahmed</li>
        <li>Glenn Smart</li>
        <li>Eunice Ant</li>
      </ul>
    </div>
    <div class="approval">
      <h2>Pending Approvals</h2>
      <div class="approval-item">
        <span>John Doe</span>
        <button type="button">Pending</button>
      </div>
      <div class="approval-item">
        <span>James Doe</span>
        <button type="button">Pending</button>
      </div>
      <div class="approval-item">
        <span>Gladys   Doe</span>
        <button type="button">Pending</button>
      </div>
    </div>
  </div>
  </div>

