<div class="container">
  <div class="charts">
    <div class="pie"  [chart]="donutCharts">

    </div>

    <div class="line" [chart]="linechart">

    </div>
  </div>
  <div *ngIf="users$ | async as users">

    <div class="requests" *ngIf="users.length">
      <div class="newuser" >
        <h2>List of users currently on the system</h2>
        <ul *ngFor="let user of users">
          <li>{{user.name}}</li>
        </ul>
      </div>
      <div class="approval">
        <h2>Pending Approvals</h2>
        <div class="approval-item">
          <!-- <span>John Doe</span> -->
          <button type="button">Pending</button>
        </div>
        <div class="approval-item">
          <!-- <span>James Doe</span> -->
          <button type="button">Pending</button>
        </div>
        <div class="approval-item">
          <!-- <span>Gladys   Doe</span> -->
          <button type="button">Pending</button>
        </div>
      </div>
    </div>
  </div>
  </div>

